/*colors used:
red color #d6421d
*/

body {
	font-size: 20px;
}


#head {
	padding-top: 10px;
}

#pageTitle {
	font-family: 'Teko', sans-serif;
	font-weight: 700;
	font-size: 2.5em;
	border-left: 5px solid #d6421d;
	padding-left: 13px;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
	font-family: 'Pragati Narrow', sans-serif;
	width: 100%;
	height: 225px;
}

.thumbnail>img {
	height: 28%;
}

.companytitle {
	font-weight: 700;
	font-size: 1em;
	letter-spacing: .03em;
	margin-top: 12px;
}

.description {
	font-size: .8em;
}

.black {
	background: black;
}

.logo {
	background-size: cover;
	background-position: center center;
}









